@import url('https://www.google.com/fonts#UsePlace:use/Collection:Playfair+Display:700italic,900italic');
@import url('https://www.google.com/fonts#UsePlace:use/Collection:Oswald:400,700');
@import url('https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,600');


#highcharts-8 .highcharts-legend{
display: none
}

.navbar {
  background-color: white;
}

.container-fluid {
  background-color: #F1F3F2;
}

.title {

}



.h1 {
  font-size: 3.5em;
  font-family: "Open Sans";
  font-weight: 600;
  color: #222222;
}

.p {
  font-size: 1.5em;
  font-family: "Playfair Display";
  font-weight: 700;
  color: #222222;
}


#box {
  background-color: white;

}
